@model MyFace.Models.Request.CreatePostRequestModel

@{
    Layout = "_Layout";
}

<form action="/posts/create" method="post">

    <label>
        UserId
        <input type="text" name ="UserId" placeholder="UserId">
    </label>

    <label>
        Message
        <input type ="text" name ="Message" placeholder="Message">
    </label>
    <label>
        <input type="text" name="ImageUrl" placeholder="Image URL">
    
    </label>
    <input type="submit" name="Submit">
</form>
