@model MyFace.Models.View.PostsViewModel

@{
    Layout = "_Layout";
}
<ol>
    @foreach (var post in Model.Posts)
    {
        <li>@post.Message</li>
        <img src="@post.ImageUrl">
        <div>"@post.PostedAt"</div>
    }
</ol>