<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MyFace</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/Mystyles.css" />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav>
            <a asp-controller="Home" asp-action="Index">MyFace</a>
            <ul>
                <li>
                    <a asp-controller="Posts" asp-action="PostsPage">Posts</a>
                </li>
                <li>
                    <a asp-controller="Users" asp-action="UsersPage">Users</a>
                </li>
                <li>
                    <a asp-controller="Home" asp-action="Privacy">Privacy</a>
                </li>
            </ul>
        </nav>
    </header>
    <div>
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer>
        <img class ="corndel-logo" img src="/images/corndel-logo.png" alt="Corndel logo" width="15%">
        <div></div>
        <img class ="softwire-logo"img src="/images/softwire-logo.png" alt="Softwire logo"width="15%">
    </footer>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
