@model IEnumerable<MyFace.Models.View.PostViewModel>

<ol>
    @foreach (var post in Model)
    {
        <li>
            <img src="@post.ImageUrl"  alt="">
            <a href="/users/@post.PostedBy.Id">@post.PostedBy.Username</a>
            <div>@post.FormattedTimeSincePost</div>
            <div>@post.Message</div>
        </li>
    }
</ol>