@{
    Layout = "_Layout";
}

<h1>Welcome to the home page.</h1>
<h2>This is Two Face Social Media!</h2>
    <div>
        <img src="https://images.unsplash.com/photo-1516307318288-46d4194fe79e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80"width="500" height="600">
    </div>
<ul>
    <li>This page is awesome because:</li>
    <li>Two faces is better than one!</li>
    <li>Tag to join our family</li>
    <li>#twofacesfam</li>
</ul>
<div>
    <a href="https://www.toofaced.com/">Visit our family website!</a>
</div>

