
@mixin GenericFont ($fontSize, $fontWeight, $lineHeight){
    color: #DCDCDC;
    font-family: 'Open-Sans', sans-serif;
    font-weight: $fontWeight;
    font-size: $fontSize;
    line-height: $lineHeight;
}

body{
    background: #252A38;
    font-family: 'Open Sans';
    margin: 0;
}
.profile-img
{
    border-radius:50%;
    border: 4px solid white;
    width: 100px;
    margin-left: 24px;
}
div.flex-container
{
    display: flex;
}

.post{
    width: 260px;
    min-width: 260px;
    margin: 24px;
    background-color:#151820;
    color: white;
    font-size: 12px;
}  
.user-name
{
    font-family: 'Open Sans';
    color: white;
}
.post-list {
    display: flex;
    overflow-x: scroll;
    list-style: none;
    padding: 20px;
}

h1.profile-name {
    @include GenericFont(20px, 400, 32px)
}
div.user-name{
    @include GenericFont(14px, 600, 20px)
}
div.user-email {
    @include GenericFont(14px, 300, 16px)
}
div.user-name{
    @include GenericFont(14px, 600, 16px)
}
div.user-email{
    @include GenericFont(14px, 450 ,16px)
}

//====== Post list ======//
ol{
    margin:0;
    padding: 0;
}

h1{
    color: white;

}

.post-img{
    width: 100%;
}

a{
    text-decoration:none;
    color: lightgray;
}

button{
    font-size:24px;
}

body{
    font-size: 16px;
}

.cover-img
{
    position: relative;
    width: 95%;
    height: 100%;
}
footer{
    width: 100%;
    height: 40%;
    margin: 0;
    background-color: #151820;
    border-color: wheat;
    
    
}
.post-info{
    padding: 16px;
    
}
.top-profile{
    position: relative;
    
}
.user-profile{
    position: absolute;
    bottom: -15px;
    background: rgba(37, 42, 56, 0.56);
    display: flex;
}
.user-details{
    width: 100vw;
    margin-left: 24px;


}
h2{
    color: white;
}