.post-message{
    color: #61c1d1;
    font-size: 6rem;
}

.post-image{
    margin: 0;
    position: relative;
    border-radius:15px;
    box-shadow: 5px 10px 18px #888888;
    width: 90vw;
    border: solid black 3px;

}

.navbar{
    background-color: cadetblue;
}

.navbar li {
    list-style: none;
    display: inline;
}